@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
}

.navbar {
  background: #3e3c3c;
  padding: 2% 8%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  height: 30px;
  list-style: none;
  align-items: center;
}

.nav-links li {
  margin-left: 2.5rem;
  display: inline-block;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #e05304;
}

.my-logo {
  width: 80px;
  height: 60px;
}

.fa-bars {
  display: none;
  color: white;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.main-container {
  height: calc(100% - 72px);
  width: 100%;
  position: relative;
  padding: 0% 2%;
  background-image: url(images/Illustration-header.png);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icons {
  width: 20px;
  padding-top: 15px;
}

.main-info {
  max-width: 566px;
  margin-left: 3%;
}

.info-header {
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 81.5px;
  color: #f55800;
}

.info-title {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

.info-details {
  max-height: 123px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #f4f5f7;
}

/* Flex Overall Layout For Mobile Responsiveness */

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    position: relative;
    align-items: start;
    justify-content: center;
  }

  .fa-bars {
    display: block;
    position: absolute;
    top: 24px;
    right: 32px;
  }

  .nav-links {
    display: none;
  }

  .main-container {
    height: 100%;
    width: 100%;
    background-image: url(images/Group.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding: 0 24px;
  }

  .main-info {
    width: 327px;
    padding: 0;
  }

  .social-icons {
    flex-direction: row;
  }

  .icons {
    margin-left: 10px;
  }

  .info-header {
    font-size: 56px;
    font-weight: 400;
    line-height: 64px;
  }

  .info-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .info-details {
    max-height: 123px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
  }
}

@media only screen and (max-width: 375px) {
  .navbar {
    flex-direction: column;
    position: relative;
    height: 48px;
  }

  .my-logo {
    width: 50px;
  }

  .main-container {
    height: 100%;
    width: 100%;
    background-image: url(images/Group.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding: 0 24px;
  }

  .main-info {
    width: 327px;
    padding: 0;
  }

  .info-header {
    max-width: 327px;
  }

  .info-title {
    max-width: 327px;
  }

  .info-details {
    max-height: 123px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #f4f5f7;
  }
}
